.zoom {
  overflow: hidden;
  transition: transform 0.2s;
}

.zoom:hover img {
  transform: scale(1.1);
}

.span {
  font-size: large;
  font-weight: bold;
  margin-right: 2rem;
}
.product_deatail_link {
  color: red;
}
