.li {
  list-style: none;
  margin: 1rem;
  display: flex;
  border: 1px solid black;
  padding: 0.7rem;
}

.image {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
}
.title {
  background-color: rgb(196, 196, 171);
}
.price {
  font-size: large;
  font-weight: bolder;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 2rem;
  width: fit-content;
  margin-right: 5rem;
}

.quantity {
  font-size: large;
  font-weight: bolder;
  justify-content: center;
  margin-top: 2.4rem;

  border: 1px solid black;
  padding: 0.6rem;
  width: fit-content;
}

.button {
  width: fit-content;
  height: 2.2rem;
  margin-top: 3rem;
  margin-left: 1rem;
  text-align: center;
}
.btn-div {
  background-color: green;
  margin-top: 3rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-div:hover {
  cursor: pointer;
}
